<div class="titlebar">

    <span>
        <span class="titlebar-title">
            <span class="glyphicon glyphicon-globe"></span>
            Global Search
        </span>

        <span uib-dropdown>
          <a href id="simple-dropdown" class="btn btn-link" uib-dropdown-toggle class="titlebar-link">
              Recent <span class="glyphicon glyphicon-menu-down"></span>
          </a>
          <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li>
                  <a href>wow</a>
              </li>
              <li>
                  <a href>wow</a>
              </li>
              <li>
                  <a href>wow</a>
              </li>
          </ul>
        </span>
    </span>

    <span uib-dropdown style="align-self: flex-end;">
      <a href id="simple-dropdown"
         class="btn btn-link"
         uib-dropdown-toggle class="titlebar-link">
          Welcome, Matt <span class="glyphicon glyphicon-menu-down"></span>
      </a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li>
              <a href>wow</a>
          </li>
          <li>
              <a href>wow</a>
          </li>
          <li>
              <a href>wow</a>
          </li>
      </ul>
    </span>

</div>